* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;

}
.mensagens-lista{
    min-height: 87vh;
}

form {
  position: fixed;
  bottom: 0;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

a.list-group-item-action:hover{
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}
